<!DOCTYPE html>
<html>
<head>
    <title>Daftar Semua Pengaduan</title>
</head>
<body>
    <h1>Daftar Semua Pengaduan Warga</h1>
    <ul>
        {% for aduan in pengaduan_list %}
            <li>
                <strong>{{ aduan.judul }}</strong> 
                (Status: {{ aduan.get_status_display }})
                <br>
                <em>Oleh: {{ aduan.pelapor.nama_lengkap }}</em>
                <br>
                {{ aduan.deskripsi|truncatewords:15 }}
                <br>
                <small>{{ aduan.tanggal_lapor }}</small>
            </li>
        {% empty %}
            <li>Belum ada pengaduan yang dilaporkan.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'warga-list' %}">Kembali ke Daftar Warga</a>
</body>
</html>